{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}
